* {
  box-sizing: border-box; }

h1, h3, p {
  margin: 0; }

.input-settings {
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding-left: 32px;
  color: #877777; }
  .input-settings::placeholder {
    color: #1a1a1a; }

body {
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  padding: 0;
  margin: 0; }

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: auto; }

.header {
  margin-top: 45px;
  margin-bottom: 55px; }
  .header .navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px; }
    .header .navigation .address-input {
      width: 690px;
      height: 40px;
      margin-right: 10px;
      background: url(../../img/home.svg) no-repeat left 10px top 10px; }
    .header .navigation .buttons {
      display: flex; }
      .header .navigation .buttons button:hover {
        box-shadow: 2px 6px 15px rgba(0, 0, 0, 0.3);
        transition: all 0.2s;
        opacity: 0.9;
        transform: scale(1.1);
        cursor: pointer; }
      .header .navigation .buttons .nav-button {
        max-height: 40px;
        background-repeat: no-repeat;
        background-position: left 16px center;
        padding: 8px 16px 8px 33px;
        font-size: 16px;
        border-radius: 3px;
        line-height: 24px; }
      .header .navigation .buttons .login-btn {
        background-color: #1890FF;
        border: 1px solid #1890FF;
        background-image: url(../../img/user.svg);
        color: #fff;
        transition: all 0.2s; }
      .header .navigation .buttons .basket-btn {
        display: none;
        margin-left: 10px;
        background-color: #fff;
        border: 1px solid #ececec;
        background-image: url(../../img/basket.svg);
        color: #595959;
        transition: all 0.2s; }
  .header .billboard {
    height: 300px;
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    background-color: #FFF1B8;
    background-image: url(../../img/bg-billboard.png);
    background-repeat: no-repeat;
    background-position: right center; }
    .header .billboard .content {
      padding: 68px 0 0 70px; }
      .header .billboard .content .title {
        margin: 0;
        max-width: 405px;
        font-weight: bold;
        font-size: 39px;
        line-height: 46px; }
      .header .billboard .content .description {
        color: #302C34;
        max-width: 520px;
        font-size: 24px;
        line-height: 28px; }

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .restaurants .caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px; }
    .restaurants .caption .caption-text {
      color: #000;
      font-weight: bold;
      font-size: 36px;
      line-height: 42px; }
    .restaurants .caption .caption-search-input {
      width: 305px;
      height: 35px;
      background: url(../../img/search.svg) no-repeat left 12px center; }
  .restaurants .dishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .restaurants .dishes .block {
      overflow: hidden;
      flex-basis: 384px;
      height: 379px;
      background-color: #fff;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
      border-radius: 7px;
      margin-bottom: 30px;
      transition: all 0.2s; }
      .restaurants .dishes .block:hover {
        transform: scale(1.05);
        transition: all 0.2s;
        cursor: pointer; }
      .restaurants .dishes .block img {
        object-fit: cover;
        width: 384px;
        height: 250px; }
      .restaurants .dishes .block .description {
        margin: auto;
        width: 336px; }
        .restaurants .dishes .block .description .description-title {
          padding-top: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 12px; }
          .restaurants .dishes .block .description .description-title p {
            font-weight: bold;
            font-size: 24px;
            line-height: 32px; }
          .restaurants .dishes .block .description .description-title span {
            font-style: normal;
            font-size: 12px;
            line-height: 20px;
            color: #FFF;
            background-color: #262626;
            border-radius: 3px;
            padding: 2px 8px; }
        .restaurants .dishes .block .description .description-info span {
          font-weight: normal;
          font-size: 18px;
          line-height: 32px;
          color: #8c8c8c; }
          .restaurants .dishes .block .description .description-info span.rub {
            font-family: 'PT Sans', serif;
            font-weight: normal;
            font-style: normal;
            font-size: inherit; }
          .restaurants .dishes .block .description .description-info span.rate {
            background: url(../../img/rate-icon.svg) no-repeat left 0px top 3px;
            padding-left: 22px;
            padding-right: 20px;
            color: #FFC107; }
          .restaurants .dishes .block .description .description-info span.price::after {
            content: '';
            margin: 0 10px 1% 10px;
            background-color: #8c8c8c;
            display: inline-block;
            width: 5px;
            height: 5px;
            border-radius: 50%; }

footer {
  background-color: #fff; }
  footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 60px; }
    footer .footer-content .footer-nav ul {
      display: flex; }
      footer .footer-content .footer-nav ul li {
        list-style: none;
        padding-right: 15px; }
        footer .footer-content .footer-nav ul li a {
          text-decoration: none;
          font-weight: normal;
          font-size: 18px;
          line-height: 21px;
          color: #595959;
          transition: all 0.2s; }
          footer .footer-content .footer-nav ul li a:hover {
            color: #1890ff;
            transition: all 0.2s;
            cursor: pointer; }
    footer .footer-content .footer-socials a {
      padding-left: 20px; }

@media only screen and (max-width: 480px) {
  .container {
    max-width: 480px;
    width: 300px; }
  .header .navigation {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .header .navigation .logo {
      padding-bottom: 10px; }
    .header .navigation .address-input {
      width: 220px;
      margin-bottom: 5px;
      margin-right: 0; }
  .header .billboard {
    width: auto;
    height: auto;
    background: none;
    box-shadow: none; }
    .header .billboard .content {
      padding: 0; }
      .header .billboard .content .title {
        text-align: center;
        margin-bottom: 15px; }
      .header .billboard .content .description {
        text-align: center; }
  .restaurants .caption {
    flex-direction: column;
    margin-bottom: 25px; }
    .restaurants .caption .caption-text {
      margin-bottom: 10px; }
    .restaurants .caption .caption-search-input {
      width: 240px; }
  .restaurants .block img {
    max-width: 315px; }
  .restaurants .block .description {
    max-width: 267px; }
  .footer-content {
    flex-direction: column;
    justify-content: center; }
    .footer-content .footer-nav {
      margin-top: 10px; }
      .footer-content .footer-nav ul {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around; }
        .footer-content .footer-nav ul li {
          padding-bottom: 27px; }
          .footer-content .footer-nav ul li a {
            padding: 2px 5px;
            border-radius: 2px;
            border: 1px solid #d8d8d8; } }

@media only screen and (max-width: 1170px) {
  .header .navigation {
    justify-content: space-around; }
  .restaurants .caption {
    justify-content: space-around; }
  .restaurants .dishes {
    justify-content: space-around; }
  footer .footer-content {
    justify-content: space-around; } }

/*# sourceMappingURL=style.css.map */
