*
    box-sizing: border-box

body
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%)    
    font-family: 'Roboto', sans-serif
    padding: 0
    margin: 0

.container 
    max-width: 1200px
    margin: auto

.header
    margin-top: 45px

    .navigation
        display: flex
        justify-content: space-between

        .address-input
            width: 690px
            height: 40px
            background: url(../../img/home.svg) no-repeat left 10px top 10px
            padding-left: 32px
            border: 1px solid #d9d9d9
            border-radius: 2px